$mainBGColor: #0e1a24;
$panelBGColor: #e4e4e4;
$maintextColor: #222;

body {
  margin: 0;
  padding: 0;
  background: $mainBGColor;
  color: $maintextColor;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

header, nav, main {
  background-color: $panelBGColor;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 2em;
}

nav {
  grid-area: nav;
  img {
    max-width: 100%;
  }
}

main {
  grid-area: main;
  padding: 2em;
}

footer {
  color: #555;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#App {
  display: grid;
  min-height: 100vh;
  margin: 0.5em;
  grid-gap: 0.5em;
  grid-template-rows: 6em 1fr 3em;
  grid-template-columns: 15em 1fr;
  grid-template-areas: "nav    header" 
                       "nav    main" 
                       "footer footer";
}