body {
  margin: 0;
  padding: 0;
  background: #222;
  min-width: 100vw;
  min-height: 100vh;
}

header, nav, main {
  background-color: #efefef;
}

header {grid-area: header;}

nav {
  grid-area: nav;
  img {
    max-width: 100%;
  }
}

main {
  grid-area: main;
  padding: 2em;
}

footer {grid-area: footer;}

#App {
  display: grid;
  min-height: 100vh;
  margin: 0.5em;
  grid-gap: 0.5em;
  grid-template-rows: 15em 1fr 4em;
  grid-template-columns: 15em 1fr;
  grid-template-areas: "nav    header" 
                       "nav    main" 
                       "footer footer";
}