// $mainBGColor: #0e1a24;
$pink: rgba(238, 174, 202,1);
// $mainBGColor:linear-gradient(135deg, rgba(47, 79, 79,1), rgba(123,99,111,1) 100%);
$mainBGColor:linear-gradient(135deg, rgba(47, 79, 79,1), $pink 100%);
// $mainBGColor:linear-gradient(135deg, rgba(47,79,79,1) 0%, rgba(253,187,45,1) 100%);
$panelBGColor: rgba(228, 228, 228,0.6);
$maintextColor: #222;
// $ks: linear-gradient(135deg, #00C9FF 0%, #92FE9D 100%);
$ks: linear-gradient(135deg, rgb(48, 145, 172) 0%, rgb(88, 149, 94) 100%);

body {
  margin: 0;
  padding: 0;
  background: rgb(34,193,195);
  background: $ks;
  color: $maintextColor;
  min-width: 100vw;
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

header, nav, main {
  background-color: $panelBGColor;
  box-shadow: 5px 5px 5px rgba(29, 49, 49, 0.3);
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  a {
    margin: auto .25em;
  }
}

nav {
  grid-area: nav;
  img {
    max-width: 100%;
  }
}

main {
  grid-area: main;
  padding: 2em;
}

footer {
  color: #222;
  font-weight: 100;
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}

#App {
  display: grid;
  min-height: 100vh;
  margin: 0.5em;
  grid-gap: 0.5em;
  grid-template-rows: 6em 1fr 3em;
  grid-template-columns: 15em 1fr;
  grid-template-areas: "nav    header" 
                       "nav    main" 
                       "footer footer";
}