a {
  text-decoration: none;
};

.NavItem {
  color: $mainTextColor;
  padding: .5em 1em;
  display: flex;
  justify-content: center;
  font-family: 'Fira Code', Consolas, monospace;
  &:hover {
    background-color: salmon;
  };
  &:active {
    background: darksalmon;
  }
}