#ProjectContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "menu viewport"
}


#ProjectMenu {
  grid-area: menu;
  border-right: .5em solid $mainBGColor;
  // width: 20%;
  // height: 100%;
  button {
    background: darkslategray;
    border: 2px solid rgba(255,255,255,0.2);
    padding: 1em;
    margin: .5em .25em;
    color: white;
    box-sizing: border-box;
    &:hover {
      border: white 2px solid;
    }
  }
}


#ProjectViewport {
  grid-area: viewport;
  padding: 1em;
  // height: 100%;
  // width: 80%;
}